<h1>
    <p class="text-center font-weight-bold ">แก้ไขข้อมูลของApp sut can help</p>
</h1>

<br>
<div>
    <div class="d-flex justify-content-around">
        <div>
            <div class="card" style="width: 15rem;">
                <img src="https://image.flaticon.com/icons/png/512/2928/2928766.png"
                    style="height: 13rem; width: 14rem;" class="card-img-top" alt="">
                <div class="card-body">
                    <button (click)="toVolunteer()" type="button"
                        class="btn btn-primary btn-lg btn-block">ข้อมูลอาสาสมัคร</button>
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img src="https://image.flaticon.com/icons/png/512/2904/2904843.png"
                    style="height: 13rem; width: 15rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <button (click)="toSos()" type="button"
                        class="btn btn-primary btn-lg btn-block">งานที่อาสาสมัครรับ</button>
                </div>
            </div>
        </div>
        <!-- <div>
            <div class="card" style="width: 15rem;">
                <img style="height: 13rem; width: 15rem;" src="https://image.flaticon.com/icons/svg/888/888074.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <button (click)="Statis()" type="button"
                        class="btn btn-primary btn-lg btn-block">สถิติอุบัติเหตุ</button>
                </div>
            </div>
        </div> -->
    </div>

</div>