<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand text-white">
      Sutcanhelp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li>
          
          <button style="margin-right: 10px;" *ngIf="status == 'Success'" class="btn btn-success" [routerLink]="['/menu']">Menu</button>
        </li>
        <br>
        <li>
          <button *ngIf="status == 'Success'" class="btn btn-primary" (click)="logout()">ออกจากระบบ</button>
        </li>
      </ul>
    </div>
  </nav>