<h2 style="margin-left: 400px">คุณ {{User}}</h2>
<div class="d-flex justify-content-around" style="margin-top:185px">
    
    <div>
        
        <div class="card" style="width: 15rem;">
            <img src="https://image.flaticon.com/icons/svg/3010/3010962.svg" style="height: 13rem; width: 14rem;"
                class="card-img-top" alt="">
            <div class="card-body">
                <button (click)="AdminVolunteer()" type="button" class="btn btn-primary btn-lg btn-block">Admin
                    Volunteer</button>
            </div>
        </div>
    </div>
    <div>
        <div class="card" style="width: 15rem;">
            <img src="https://image.flaticon.com/icons/svg/1528/1528669.svg" style="height: 13rem; width: 15rem;"
                class="card-img-top" alt="...">
            <div class="card-body">
                <button (click)="AdminPublic()" type="button" class="btn btn-primary btn-lg btn-block">Admin
                    Public</button>
            </div>
        </div>
    </div>

</div>