<h1>
    <p class="text-center font-weight-bold ">แก้ไขข้อมูลของApp sut can help</p>
</h1>

<br>
<div>
    <div class="d-flex justify-content-around">
        <div>
            <div class="card" style="width: 15rem;">
                <img src="https://image.flaticon.com/icons/svg/2947/2947986.svg" style="height: 13rem; width: 14rem;"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <button (click)="toTelephone_SOS()" type="button"
                        class="btn btn-primary btn-lg btn-block">สายด่วนเหตุฉุกเฉิน</button>
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img src="https://image.flaticon.com/icons/svg/2941/2941481.svg" style="height: 13rem; width: 15rem;"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <button (click)="Institute()" type="button"
                        class="btn btn-primary btn-lg btn-block">รายชื่อสำนักวิชา</button>
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img style="height: 13rem; width: 15rem;" src="https://image.flaticon.com/icons/svg/2965/2965038.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <button (click)="animal()" type="button" class="btn btn-primary btn-lg btn-block">ชนิดสัตว์</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-around">
        <div class="card" style="width: 15rem;">
            <img style="height: 13rem; width: 15rem;" src="https://image.flaticon.com/icons/svg/864/864555.svg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <button (click)="soslist()" type="button"
                    class="btn btn-primary btn-lg btn-block">ประเภทอุบัติเหตุ</button>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img style="height: 13rem; width: 15rem;" src="https://image.flaticon.com/icons/svg/2978/2978744.svg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <button (click)="First_Aid()" type="button"
                    class="btn btn-primary btn-lg btn-block">วิธีปฐมพยาบาล</button>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img style="height: 13rem; width: 15rem;" src="https://image.flaticon.com/icons/svg/2919/2919573.svg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <button (click)="User()" type="button" class="btn btn-primary btn-lg btn-block">ข้อมูลผู้ใช้งาน</button>
            </div>
        </div>
    </div>
</div>